.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: blue;
    border-width: 1;
    border-style: solid;
    padding: 10;
    background-color: "lightblue";
    margin-top: 20;
}

.submitBtn {
    width: 40%;
}

.inputStyle {
    width: 80%;
}

.btnGroup {
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin-left:10% */
    text-align: center;
    margin-right: 5%
}

.heading {
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

